@media (min-width: 768px) {
  body {
    background-image: url('./images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    margin: 0;
    background-color: var(--pale-blue);
  }
}

@media (max-width: 425px) {
  body{
    background-image: url('./images/pattern-background-mobile.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: var(--pale-blue);
    margin: 0;
  }
}
